<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>DCS Mission Planner</h1>
    <p>
      <form method="POST" action="/create_instance/">
        <select name="miz">
          <option value="opr-free_maykop-coop16.miz">Operation Free Maykop</option>
        </select>
        <input type="submit" value="Create New Instance"></input>
      </form>
    </p>
    <textarea id="text"></textarea><br>
    <button id="test_button">Test</button>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
